body {
    font-family: sans-serif;
    text-align: center;
    background: #111;
    color: #ccc;
}

iframe,
button { border: 0; }

button {
    border-radius: 4px;
    font-weight: bold;
    padding: .25rem .5rem;
    background: #444;
    color: #ccc;
}

button:hover {
    background: #555;
    color: #fff;
    cursor: pointer;
}
